.task1 {
  margin-top: 20px;
  margin-left: 20px;
  width: 1000px;
  border: 2px lightgrey solid;
  border-radius: 10px;
  display: inline-block;
}
.image {
  background-image: url(/images/logo-footer.png);
  width: 1000px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 900px 250px;
  border: 2px lightgrey solid;
}
.title {
  width: 1000px;
  height: 300px;
  border: 2px lightgrey solid;
  margin-top: 0;
  padding: 20px;
  font-size: 30px;
  padding: 40px;
}
.title h1 {
  padding-bottom: 10px;
}
.box1,
.box2,
.box3,
.box4 {
  width: 1000px;
  height: 150px;
  border: 2px lightgrey solid;
  margin-top: 0;
  padding: 20px;
  font-size: 30px;
  padding-top: 60px;
}
a {
  margin-right: 50px;
  text-decoration: none;
}
.task2 {
  margin-top: 20px;
  margin-left: 20px;
  width: 1000px;
  border: 2px lightgrey solid;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  background-color: whitesmoke;
}
.task2 h3 {
  margin-top: 20px;
  margin-bottom: 200px;
  margin-left: 30px;
  text-align: left;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}
.task2 h1 {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 30px;
  text-align: left;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  width: 583px;
  height: 890px;
}
